h1{
    font-family: Lato;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

h4{
    font-family: Lato;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

a{
    color: #c72c00;
    text-decoration: none;
    outline: 0;
}
