footer{
    color: #555;
    background: #cecece;
    width: auto;
    padding: 10px;
}

footer a{
    color: inherit;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr;
}

.footer-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer i{
    padding: 3px;
}

@media only screen and (min-width: 768px){
    footer input{
        float: right;
    }

    .footer-grid{
        grid-template-columns: 1fr 1fr;
    }
}

.youtube_link{
    font-size: 1.5em;
    background: rgba(0,0,0,.1);
    padding: 3px;
    padding-bottom: 1px;
    margin: 3px;
    transition: background, color .6s ease-out;
    -webkit-transition: background, color .6s ease-out;
    -moz-transition: background, color .6s ease-out;
    -o-transition: background, color .6s ease-out;
}

.youtube_link:hover {
    background: #F33;
    color: white;
}

.copyright{
    color: #aaa;
    font-size: 10px;
}

