@media (max-width: 992px) {
    .content {
        display: block;
    }
    .dropdown-divider {
        display: block;
    }
    .col1 {
        width: 100% !important;
        margin: 0 !important;
    }
    .card {
        max-width: none !important; 
    }
    .top {
        display: none !important;
    }
    .then-now {
        padding: 0 !important;
    }
    .carousel-control-prev {
        display: none;
    }
    .carousel-control-next {
        display: none;
    }
}
@media (min-width: 992px) {
    .content {
        display: flex;
        font-family: Arial, sans-serif;
    }
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    overflow-x: hidden;
}
a {
    color: #CA370D;
}
.main ul {
    padding: 0;
    margin-left: 20px;
}
.page-header {
    padding: 8px 0;
    padding-top: 0;
}
.subpage-header {
    padding: 8px 0;
}
.entry-title {
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
}
.subtitle {
    margin: 0 0 10px;
}
.main {
    display: flex;
}
.top {
    display: flex;
    width: 100%;
    height: 275px;
}
.then-now {
    min-width: 200px;
    max-width: 350px;
    padding: 20px;
    padding-top: 0;
}
.main-description {
    width: 100%;
}
.col1 {
    width: 70%;
}
.side {
    min-width: 200px;
    max-width: 350px;
    padding: 20px;
    padding-top: 0;
}
.recent-post {
    display: flex;
    padding-top: 6px;
}
.thumb-img {
    padding: 10px 10px 10px 0;
}
.thumb-title {
    margin: 0;
    text-decoration: none;
    color: inherit;
}
.thumb-subtitle {
    margin: 0;
    color: #777777;
    font-size: 10px;
}
.card {
    max-width: 250px;
    border: none;
}
.card-body {
    padding: 10px;
}
.card-title {
    font-size: 13px;
    color: #CA370D;
    font-family: 'Lato', sans-serif;
}
.card-deck .card {
    margin: 0;
    margin-right: 20px;
}
#search-form {
    display: flex;
    padding: 5px 5px 5px 5px;
    width: 233px;
    margin: 20px 0;
}
#search-input {
    width: 210px;
    outline: none;
}
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
.col-md-4 {
    padding: 0;
}
.carousel-btn-bg {
    background-color: white;
    width: 35px;
    height: 75px;
}