@media (max-width: 992px) {
    .entry {
        display: block !important;
    }
    .entry img {
        width: 100% !important;
        margin: 0 0 10px 0 !important;
        padding: 0 !important;
    }
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
.entry{
    display: flex;
    margin: 20px;
    margin-left: 0;
}
.entry img{
    margin: 0px 20px 10px 0;
    padding: 0 20px 10px 0px;
    min-width: 200px;
    width: 200px;
    height: auto;
}
.col1 {
    padding-bottom: 20px;
}
.entry-title {
    font-family: 'Lato', sans-serif;
}